<launch>
  <arg name="rviz" default="false" />

  <include file="$(find rigel_ros)/launch/include/scout_mini.launch" /> 
   
  <include file="$(find rigel_ros)/launch/include/velodyne_vlp16.launch"/>

  <include file="$(find rigel_ros)/launch/include/lslidar_c16.launch" />

  <include file="$(find rigel_ros)/launch/include/realsense_d435i.launch" />

  <include file="$(find rigel_ros)/launch/include/microstrain_imu.launch" />

  <include file="$(find rigel_description)/launch/rigel_description.launch" />

  <include file="$(find rigel_ros)/launch/include/fast_lio.launch" />

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find rigel_ros)/rviz/rigel.rviz" />
  </group>
</launch>